[Service]
ExecStart=/usr/bin/nodejs /srv/www/mysite.com/serverB.js Server[B] 5001 192.168.1.164
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-app-5001
User=alainlavoie
Group=alainlavoie
Environment=NODE_ENV=production PORT=5001

[Install]
WantedBy=multi-user.target
