[Service]
ExecStart=/usr/bin/nodejs /srv/www/mysite.com/serverA.js Server[G] 5000 192.168.1.142
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-app-5000
User=alainlavoie
Group=alainlavoie
Environment=NODE_ENV=production PORT=5000

[Install]
WantedBy=multi-user.target
