[Service]
ExecStart=/usr/bin/nodejs /srv/www/mysite.com/serverA.js Server[M] 3000 127.0.0.1 
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-app-3000
User=alainlavoie
Group=alainlavoie
Environment=NODE_ENV=production PORT=3000

[Install]
WantedBy=multi-user.target
