[Service]
ExecStart=/usr/bin/nodejs /srv/www/mysite.com/serverB.js 
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-app-3001
User=alainlavoie
Group=alainlavoie
Environment=NODE_ENV=production PORT=3001

[Install]
WantedBy=multi-user.target
